

.box {
  display: inline-block;
  margin-left: 40px;
}

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  .container {
    
  
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  h1 {
    text-align: center;
  }
  
  
  h2 {
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }

  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  .shared-secret {
    text-align: center;
  }
  
  .shared-secret h2 {
    margin-bottom: 10px;
  }
  